.nav-link {
    color: white; /* Default text color */
    transition: color 0.3s, text-decoration 0.3s; /* Smooth transition */
  }
  
  .nav-link:hover {
    color: #FFB81C; /* Change to a gold color on hover */
    text-decoration: underline; /* Underline effect on hover */
  }
  

  .werntz-name {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5rem;
    color: #0d21a7;
}


.werntz-img {
  width: 350px; 
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);

}



.info-box {
  max-width: 600px;
  background-color: #0d21a7;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  color: white;
}

/* From Uiverse.io by gharsh11032000 */ 
.button1 {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: #0d21a7;
  border: 2px solid #131e63;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button1::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #0d21a7;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button1:hover::before {
  scale: 3;
}

.button1:hover {
  color: white;
  scale: 1.1;
  box-shadow: 0 0px 20px #6275f1;
}

.button1:active {
  scale: 1;
}


.videoInfo {
  background-color: #0d21a7;
  color: white;
}