.nav-link {
    color: white; /* Default text color */
    transition: color 0.3s, text-decoration 0.3s; /* Smooth transition */
  }
  
  .nav-link:hover {
    color: #FFB81C; /* Change to a gold color on hover */
    text-decoration: underline; /* Underline effect on hover */
  }
  

  .werntz-name {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5rem;
    color: #0d21a7;
}


.werntz-img {
  width: 350px; 
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);

}



.info-box {
  max-width: 600px;
  background-color: #0d21a7;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  color: white;
}